.page {color: #fff; font-size: 50px; display: flex; justify-content: center;
align-items: center;}
.page1 {background-color: darkorange; height: 100vh;}
.page2 {background-color: blue; height: 120vh;}
.page3 {background-color:	blueviolet; height: 70vh;}
.page4 {background-color: chartreuse; height: 80vh;}
.page5 {background-color: cyan; height: 150vh;}

.logo, .nav-link {cursor: pointer;}
.nav-link.active,
.nav-link.active:hover {color: #fac768;}